@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");

body {
  margin-top: 150;
  background: #f2f2f2;
  color: #333;
  font-family: "Nunito";
}
a {
  color: #333;
  text-decoration: none;
}
.content {
  max-width: 960px;
  margin: 0 auto;
}
nav {
  margin: 10px auto 80px;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 1px solid #ddd;
}
nav a {
  margin-left: 12px;
}
nav .logo {
  margin-right: auto;
}
footer {
  display: block;
  text-align: center;
  padding: 30px 0;
  /* margin-top: 60px; */
  color: #777;
  border-top: 1px solid #eaeaea;
}

footer a {
  color: orange;
}

.not-found {
  padding: 80px;
  text-align: center;
  background-color: #fff;
}

.not-found h1 {
  color: orange;
  padding-top: 25px;
}
.not-found h2 {
  padding-top: 25px;
}

.not-found a {
  color: #4979ff;
  text-decoration: underline;
}

.formInput {
  margin: 5;
}
.contactCard {
  /* border: groove; */
  /* padding: 5px; */
  /* border-radius: 10px; */
  margin-bottom: 10px;
}

.bannerBadge1 {
  margin-right: 5;
  padding: 2;
  background-color: "orange";
  border-top-left-radius: 20px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 20px;
}

/* Rectangle 705 */
.shade {
  position: absolute;
  /* width: 468px; */
  /* height: 360px; */
  left: 994px;
  background: gray;
  border-radius: 1200px 0px 0px 0px;
  padding: 10;
  z-index: -3;
}

.carousel {
  overflow: hidden;
}

.inner {
  white-space: nowrap;
  transition: transform 0.3s;
}

.carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  /* background-color: green; */
  color: #fff;
}

.indicators {
  display: flex;
  justify-content: center;
}

.indicators > button {
  margin: 5px;
}

.indicators > button.active {
  background-color: green;
  color: #fff;
}

.slider1 {
  background-image: url("../image/slider1_1.webp");
}
.shade Image {
  z-index: 1;
  height: 100%;
  width: 20666px;
}

.contentStyle {
  height: "160px";
  color: "#fff";
  lineheight: "160px";
  textalign: "center";
  background: "#364d79";
}
.carousel {
  padding: "0 20px";
}
.App {
  margin: auto;
}
