@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

body {
  background: #f2f2f2;
  color: #333;
  font-family: "Nunito";
}
a {
  color: #333;
  text-decoration: none;
}
.content {
  max-width: 960px;
  margin: 0 auto;
}
nav {
  margin: 10px auto 80px;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 1px solid #ddd;
}
nav a {
  margin-left: 12px;
}
nav .logo {
  margin-right: auto;
}
footer {
  display: block;
  text-align: center;
  padding: 30px 0;
  /* margin-top: 60px; */
  color: #777;
  border-top: 1px solid #eaeaea;
}

footer a{
  color: orange;
}

.not-found {
  padding: 80px;
  text-align: center;
  background-color: #fff;
}

.not-found h1{
  color:orange;
  padding-top:25px;
}
.not-found h2{
  padding-top:25px;
}



.not-found a{
  color:#4979ff;
  text-decoration: underline;
}

.formInput{
  margin:5;

}
.contactCard{
  border-bottom-left-radius: groove;
  /* padding: 5; */
  border-radius: 10px;
  /* margin-bottom: 10px; */
}

.bannerBadge1{
  margin-right: 5;
  padding: 2; 
  background-color: "orange";
  border-top-left-radius: 20px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 20px;
}

